{% extends "stocks/base.html" %}

{% block content %}
<div class="container mx-auto py-4 overflow-x-auto">
  <table class="table table-pin-rows table-zebra">
    <thead>
      <tr>
        <th>Symbol</th>
        <th class="text-right">Latest quarterly report</th>
        <th class="text-right">Intrinsic value</th>
        <th class="text-right">Current value</th>
        <th>Should buy?</th>
      </tr>
    </thead>
    <tbody>
      {% for item in table_items %}
        <tr
          x-data="{ hover: false }"
          x-on:mouseenter="hover = true"
          x-on:mouseleave="hover = false"
          x-bind:class="hover ? 'hover' : ''"
        >
          <td>
            <a href="{% url "stocks:detail" item.stock_symbol %}" class="font-bold underline hover:text-base-content/80">
              {{ item.stock_symbol }}
            </a>
          </td>
          <td class="text-right">{{ item.latest_report_date }}</td>
          <td class="text-right">{{ item.intrinsic_value }}</td>
          <td class="text-right">{{ item.current_price }}</td>
          <td>
            {% if item.should_buy %}
              <div class="badge badge-success">Yes</div>
              {% else %}
              <div class="badge badge-error">No</div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
